<header class="site_header">
  <nav class="menu">
    <a href="/">
      <span class="menu_icon" aria-hidden="true"><include src="./assets/img/home.svg"></include></span>
      Inicio</a
    >
    <a href="/categoria"
      ><span class="menu_icon" aria-hidden="true"><include src="./assets/img/dish.svg"></include></span>Categoria</a
    >
    <a href="/det1"
      ><span class="menu_icon" aria-hidden="true"><include src="./assets/img/taco.svg"></include></span>Detalle 1</a
    >
    <a href="/det2"
      ><span class="menu_icon" aria-hidden="true"><include src="./assets/img/fajita.svg"></include></span>Detalle 2</a
    >
    <a href="/links"
      ><span class="menu_icon" aria-hidden="true"><include src="./assets/img/link.svg"></include></span>Enlaces</a
    >
  </nav>
</header>
